
<p-card class="m-2 w-12 px-6">
    <h5>Datos facturación</h5>
    <p-divider></p-divider>
    <div class="flex">
      <div class="flex-1 flex">
          <span class="flex-initial w-4">
            Grupo empresarial o categoria cliente
          </span>
          <span class="flex-initial pl-5">
            Grupo empresarial
          </span>
      </div>

      <div class="flex-1 flex flex-column gap-4">
        <div class="flex-initial w-full flex">
            <span class="flex-initial w-4">
              Sector economico
            </span>
            <span class="flex-initial pl-5">
              Sector A
            </span>
        </div>

        <div class="flex-initial w-full flex">
            <span class="flex-initial w-4">
              Moneda
            </span>
            <span class="flex-initial pl-5">
              Soles
            </span>
        </div>
      </div>
    </div>

    <h3>Datos operativos</h3>
    <p-divider></p-divider>
    <div class="flex">
      <div class="flex-1 flex flex-column gap-4">
        <div class="flex-1 flex">
          <span class="flex-initial w-4">
            Codigo Unico
          </span>
          <span class="flex-initial pl-5">
            12931123124
          </span>
        </div>
        <div class="flex-1 flex">
          <span class="flex-initial w-4">
            RUC
          </span>
          <span class="flex-initial pl-5">
            20607202412
          </span>
        </div>
        <div class="flex-1 flex">
          <span class="flex-initial w-4">
            Razon social
          </span>
          <span class="flex-initial pl-5">
              La tienda de Pedro
          </span>
        </div>
        <div class="flex-1 flex">
          <span class="flex-initial w-4">
            Nombre comercial
          </span>
          <span class="flex-initial pl-5">
            La tienda de Pedrito
          </span>
        </div>
        <div class="flex-1 flex">
          <span class="flex-initial w-4">
            Cuenta FEDEX
          </span>
          <span class="flex-initial pl-5">
            191-233445-33121
          </span>
        </div>
        <div class="flex-1 flex">
          <span class="flex-initial w-4">
            Segmentación
          </span>
          <span class="flex-initial pl-5">
            CXC CLIENTES MEDIOS
          </span>
        </div>
      </div>

      <div class="flex-1 flex flex-column gap-4">
        <div class="flex-initial w-full flex">
            <span class="flex-initial w-4">
              Tipo doc.
            </span>
            <span class="flex-initial pl-5">
              RUC
            </span>
        </div>

        <div class="flex-initial w-full flex">
            <span class="flex-initial w-4">
              Telefono
            </span>
            <span class="flex-initial pl-5">
              920 994 999
            </span>
        </div>

        <div class="flex-initial w-full flex">
          <span class="flex-initial w-4">
            Holding
          </span>
          <span class="flex-initial pl-5">
            Holding B
          </span>
        </div>

        <div class="flex-initial w-full flex">
            <span class="flex-initial w-4">
              Autorizar FEDEX
            </span>
            <span class="flex-initial pl-5">
              Si
            </span>
        </div>
        <div class="flex-initial w-full flex">
          <span class="flex-initial w-4">
            Estado
          </span>
          <span class="flex-initial pl-5">
            Activo
          </span>
        </div>
      </div>
    </div>

    <div class="field col-12 text-center mt-5" (click)="showModalUpdateClient()">
      <button pButton class="border-round-2xl bg-black-alpha-90 px-5 py-3 col-3"
          label="Actualizar" icon="pi pi-pencil" iconPos="left">
      </button>
  </div>

  <p-checkbox name="groupname"></p-checkbox>
  <p-checkbox name="groupname"></p-checkbox>

</p-card>
