<p-card>
    <div class="grid">

        <div class="col-12">
            <h3 class="text-base text-700 my-0 font-normal">
                Datos Facturación
            </h3>
            <hr>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Grupo empresarial o categoria cliente</span>
            <span class="col-6 py-0font-semibold">Grupo empresarial</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Grupo empresarial o categoria cliente</span>
            <span class="col-6 py-0 font-semibold">Grupo empresarial</span>
        </div>

        <div class="col-12 py-3">
            <h3 class="text-base text-700 my-0 font-normal">
                Datos operativos
            </h3>
            <hr>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Código Unico</span>
            <span class="col-6 py-0 font-semibold">1293123124</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Tipo Doc</span>
            <span class="col-6 py-0 font-semibold">RUC</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">RUC</span>
            <span class="col-6 py-0 font-semibold">20607202412</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Teléfono</span>
            <span class="col-6 py-0 font-semibold">320 994 999</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Razón social</span>
            <span class="col-6 py-0 font-semibold">La tienda de pedro</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Holding</span>
            <span class="col-6 py-0 font-semibold">Holding B</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Nombre Comercial</span>
            <span class="col-6 py-0 font-semibold">La tienda de Pedrito</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Autoriza FEDEX</span>
            <span class="col-6 py-0 font-semibold">SI</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Cuenta FEDEX</span>
            <span class="col-6 py-0 font-semibold">191-233445-33121</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 py-0 text-500">Segmentación</span>
            <span class="col-6 py-0 font-semibold">CXC CLIENTES
                MEDIOS</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <button pButton pRipple label="Datos Adicionales" class="p-button-text text-700 font-bold"
                icon="pi pi-angle-down" iconPos="right" (click)="toggleAdditionalData()"></button>
        </div>

        <ng-container *ngIf="isVisibleAdditionalData">
            <div class="col-12 flex">
                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="ny"></p-checkbox>
                    <label for="ny">Clientes</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="sf"></p-checkbox>
                    <label for="sf">Almacen</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="ny"></p-checkbox>
                    <label for="ny">Agencia Aduanas</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="sf"></p-checkbox>
                    <label for="sf">Transporte Aereo</label>
                </div>
            </div>

            <div class="col-12 flex">
                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="ny"></p-checkbox>
                    <label for="ny">Consignatario</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="sf"></p-checkbox>
                    <label for="sf">Transporte Maritimo</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="ny"></p-checkbox>
                    <label for="ny">Shipper</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="sf"></p-checkbox>
                    <label for="sf">Para visto bueno</label>
                </div>
            </div>

            <div class="col-12 flex">
                <div class="col-6 justify-content-center field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="ny"></p-checkbox>
                    <label for="ny">Consignatario</label>
                </div>

                <div class="col-6 justify-content-center field-checkbox py-0">
                    <p-checkbox name="group1" value="" inputId="sf"></p-checkbox>
                    <label for="sf">Transporte Maritimo</label>
                </div>
            </div>
        </ng-container>

        <div class="col-12 text-center py-5">
            <button pButton class="b-primary px-5" icon="pi pi-pencil" (click)="showModalUpdateClient()"
                label="Actualizar cliente">
            </button>
        </div>

    </div>
</p-card>