
<p-card class="m-2 w-12 px-6">
    <h5>Datos facturación</h5>
    <p-divider></p-divider>
    <div class="flex">
      <div class="flex-1 flex">
          <span class="flex-initial w-4">
            Grupo empresarial o categoria cliente
          </span>
          <span class="flex-initial pl-5">
            Grupo empresarial
          </span>
      </div>

      <div class="flex-1 flex flex-column gap-4">
        <div class="flex-initial w-full flex">
            <span class="flex-initial w-4">
              Sector economico
            </span>
            <span class="flex-initial pl-5">
              Sector A
            </span>
        </div>

        <div class="flex-initial w-full flex">
            <span class="flex-initial w-4">
              Moneda
            </span>
            <span class="flex-initial pl-5">
              Soles
            </span>
        </div>
      </div>
    </div>

    <h3>Datos operativos</h3>
    <p-divider></p-divider>
    <div class="flex">
      <div class="flex-1 flex">
          <span class="flex-initial w-4">
            Codigo unico
          </span>
          <span class="flex-initial pl-5">
            1993129124
          </span>
      </div>

      <div class="flex-1 flex flex-column gap-4">
        <div class="flex-initial w-full flex">
            <span class="flex-initial w-4">
              Tipo doc.
            </span>
            <span class="flex-initial pl-5">
              RUC
            </span>
        </div>

        <div class="flex-initial w-full flex">
            <span class="flex-initial w-4">
              Telefono
            </span>
            <span class="flex-initial pl-5">
              920994999
            </span>
        </div>
      </div>
    </div>

    <div class="field col-12 text-center mt-5">
      <button pButton class="border-round-2xl bg-black-alpha-90 px-5 py-3 col-3"
          label="Actualizar">
      </button>
  </div>

</p-card>
