<p-card>
    <div class="grid md:px-5 md:py-2">

        <div class="col-12">
            <h3 class="text-base text-700 my-0 font-normal">
                Contactos relacionados
            </h3>
            <hr>
        </div>

        <div class="col-12 flex flex-column">
            <ng-container *ngFor="let contact of lContacts" class="w-full">
                <div class="grid pb-3">

                    <div class="col-12 flex py-3">
                        <span class="font-semibold">Contacto N° {{contact.id}}</span>
                    </div>

                    <div class="col-12 md:col-3">
                        <span class="text-500">Nombre</span>
                        <div class=" font-semibold pt-3">{{contact.full_name}}</div>
                    </div>

                    <div class="col-12 md:col-2">
                        <span class="text-500">Área Contacto</span>
                        <div class=" font-semibold pt-3">{{contact['description_area_contact']}}</div>
                    </div>

                    <div class="col-12 md:col-2">
                        <span class="text-500">Tipo Contacto</span>
                        <div class=" font-semibold pt-3">{{contact['description_type_contact']}}</div>
                    </div>

                    <div class="col-12 md:col-2">
                        <span class="text-500">Telefono Principal</span>
                        <div class=" font-semibold pt-3">{{contact['telephone']}}</div>
                    </div>

                    <div class="col-12 md:col-2">
                        <span class="text-500">Correo Principal</span>
                        <div class=" font-semibold pt-3">{{contact['email']}}</div>
                    </div>

                    <div class="col-12 md:col-1 text-base text-center">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text text-500"
                            pTooltip="Editar Contacto" tooltipPosition="top" placeholder="Top" (click)="showModalUpdateContact(contact)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text text-500"
                            pTooltip="Eliminar Contacto" tooltipPosition="top" placeholder="Top" (click)="deleteContactById(contact.id)"></button>
                    </div>

                </div>
            </ng-container>
        </div>

        <div class="col-12 text-center pt-5">
            <button pButton class="b-secondary px-5" icon="pi pi-user-plus" (click)="showModalRegisterContact()"
                label="Agregar Contacto">
            </button>
        </div>

    </div>
</p-card>