:host ::ng-deep {
    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        background-color: #f3f3f3;
        border: none;
        justify-content: center;
        height: 50px;

    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        border: 1px solid;
        border-radius: 10px;
    }
    .p-tabview .p-tabview-panels {
        background-color: #f3f3f3;
    }
    .p-tabview {
        width: 100%;
    }
    .p-tabview .p-tabview-nav li {
        width: 25%;
    }
    .p-tabview .p-tabview-nav {
        border: none;
        background-color: transparent;
    }
    .p-tabview .p-tabview-nav .p-tabview-ink-bar {
        display: none;
    }

}

.pi-arrow-left {
  position: absolute;
  top: 30px;
  font-size: 2rem
}
.card {
  position:relative;
}
