<div *ngIf="client" class="grid">
    <div class="col-12 md:col-6 flex align-items-center">
        <div>
            <button pButton pRipple icon="pi pi-arrow-left" class="p-button-rounded p-button-text text-color"
                (click)="manageClient()"></button>
        </div>

        <div class="px-3">
            <h3 class="text-xl text-700">
                Cliente > {{client.identity_document_number}} - {{client.business_name}}
            </h3>
        </div>

        <div [class]="client.status ? 'point-active' : 'point-inactive'"
            [pTooltip]="client.status ? 'Cliente Habilitado' : 'Cliente Inhabilitado'">
        </div>
    </div>
    <div class="col-12 md:col-6 flex align-items-center justify-content-end">
        <div class="surface-overlay text-center py-2 border-round-xl mx-2">
            <i class="pi pi-ban text-red-500 rotate-90"></i>
            <img src="../../../../../../../assets/img/SAP.png" class="img-icon pl-2">
        </div>
        <div class="surface-overlay text-center px-3 py-2 border-round-xl">
            <i class="pi pi-check-circle text-green-500 pl-2"></i>
            <img src="../../../../../../../assets/img/SUNAT.png" class="img-icon pl-2">
        </div>
    </div>
</div>

<div class="py-4">
    <p-tabView>

        <p-tabPanel header="Informacion de clientes">
            <app-information-client></app-information-client>
        </p-tabPanel>

        <p-tabPanel header="Lineas de credito">
            <app-credit-line></app-credit-line>
        </p-tabPanel>

        <p-tabPanel header="Contactos">
            <app-contacts-client></app-contacts-client>
        </p-tabPanel>

        <p-tabPanel header="Direcciones">
            <app-directions-client></app-directions-client>
        </p-tabPanel>

    </p-tabView>
</div>