
<div class="card px-6 py-3">
  <i class="pi pi-arrow-left"></i>

  <h5 class="text-center">Cliente : Pedro Saramias Huarcaya</h5>

  <p-tabView>
      <p-tabPanel header="Informacion de clientes">
          <app-information-client></app-information-client>
      </p-tabPanel>

      <p-tabPanel header="Lineas de credito">
          <app-credit-line></app-credit-line>
      </p-tabPanel>

      <p-tabPanel header="Contactos">
          <app-contacts-client></app-contacts-client>
      </p-tabPanel>

      <p-tabPanel header="Direcciones">
          <app-directions-client></app-directions-client>
      </p-tabPanel>
  </p-tabView>
</div>
