.card_operativo--content, .card_factura--content {
    width: 100%;
    padding-top: 20px;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 60px;
}

.card_titulo {
    font-size: 16px;
    font-weight: 500;
}

.card_titulo > span {
    color: rgb(172, 170, 170);
    font-weight: 300px;
}

hr {
    opacity: 30%;
}

.create-client > button {
    font-weight: 300;
    letter-spacing: 2px;
}