<p-card>
    <div class="grid md:px-5 md:py-2">

        <div class="col-12">
            <h3 class="text-base text-700 my-0 font-normal">
                Dirección fiscal
            </h3>
            <hr>
        </div>

        <ng-container *ngFor="let address of lAddress; let i = index">

            <div class="col-12 flex">
                <span class="col-6 font-semibold">Dirección fiscal Nº {{address.id}}</span>
                <div class="col-6 text-base text-right">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text text-500"
                        pTooltip="Editar Dirección" tooltipPosition="top" placeholder="Top"
                        (click)="showModalUpdateDirection()"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text text-500"
                        pTooltip="Eliminar Dirección" tooltipPosition="top" placeholder="Top"
                        (click)="deleteAddressById(address.id)"></button>
                </div>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Dirección</span>
                <span class="col-6 py-0 font-semibold">{{address.address}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Código Postal</span>
                <span class="col-6 py-0 font-semibold">{{address.postal_code ? address.postal_code: '-'}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Ubigeo</span>
                <span class="col-6 py-0 font-semibold">{{address.ubigeo_id? address.ubigeo_id: '-'}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Provincia</span>
                <span class="col-6 py-0 font-semibold">{{address.id? address.id: '-'}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Tipo Direccion</span>
                <span class="col-6 py-0 font-semibold">{{address.id ? address.id: '-' }}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">País</span>
                <span class="col-6 py-0 font-semibold">{{address.id? address.id: '-'}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Estado</span>
                <span class="col-6 py-0 font-semibold">{{address.status}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Distrito</span>
                <span class="col-6 py-0 font-semibold">{{address.id? address.id: '-'}}</span>
            </div>

        </ng-container>

        <div class="col-12 text-center pt-5">
            <button pButton class="b-secondary px-5" icon="pi pi-map-marker" label="Agregar Dirección"
                (click)="showModalRegisterDirection()">
            </button>
        </div>

    </div>

</p-card>