<!--DIALOGO DE CLIENTE-->
<p-dialog header="Registro de cliente" [(visible)]="display" [breakpoints]="{'960px': '75vw'}" [style]="{width: '80vw', height: '100vh'}"
[draggable]="false" [resizable]="false">

<!-- Datos de cliente-->

<section class="container">
    <div class="card_facturacion">

        <div class="descripcion-factura">
            <h2 class="card_titulo">Agregar <span>datos facturación</span></h2>
        </div>
        <hr>
        <div class="card_factura--content">
            <p-dropdown [options]="currency" [(ngModel)]="selectedCurrency" placeholder="Moneda" optionLabel="name" [showClear]="true" class="p-inputtext-lg"></p-dropdown>
            <p-dropdown [options]="currency" [(ngModel)]="selectedCurrency" placeholder="Grupo Empresarial" optionLabel="name" [showClear]="true" class="p-inputtext-lg"></p-dropdown>
            <p-dropdown [options]="currency" [(ngModel)]="selectedCurrency" placeholder="Sector económico" optionLabel="name" [showClear]="true" class="p-inputtext-lg"></p-dropdown>    
        </div>
    </div>
    <div class="card_operativo">
        
        <div class="descripcion-operativo">
            <h2 class="card_titulo">Agregar <span>datos operativos</span></h2>
        </div>
        
        <hr>

        <div class="card_operativo--content">
            <p-dropdown [options]="currency" [(ngModel)]="selectedCurrency" placeholder="Tipo Documento Identidad" optionLabel="name" [showClear]="true" class="p-inputtext-lg"></p-dropdown>
       
            <span class="p-float-label">
                <input id="numeroDocumentoIdentidad" type="text" pInputText [(ngModel)]="nroDocumentoIdentidad" class="p-inputtext-lg"> 
                <label for="numeroDocumentoIdentidad">Nro Documento Identidad</label>
            </span>
    
            <span class="p-float-label">
                <input id="razonSocial" type="text" pInputText [(ngModel)]="nroDocumentoIdentidad" [style]="{with: 'auto'}" class="p-inputtext-lg"> 
                <label for="razonSocial">Razón Social | Nombre completo </label>
            </span>

            <span class="p-float-label">
                <input id="nombreComercial" type="text" pInputText [(ngModel)]="nroDocumentoIdentidad" [style]="{with: 'auto'}" class="p-inputtext-lg"> 
                <label for="nombreComercial">Nombre Comercial </label>
            </span>

            <span class="p-float-label">
                <input id="telefono" type="text" pInputText [(ngModel)]="nroDocumentoIdentidad" [style]="{with: 'auto'}" class="p-inputtext-lg"> 
                <label for="telefono">Teléfono</label>
            </span>

            <p-dropdown [options]="currency" [(ngModel)]="selectedCurrency" placeholder="Holding" optionLabel="name" [showClear]="true" [filter]="true" class="p-inputtext-lg"></p-dropdown>
       
            <p-dropdown [options]="currency" [(ngModel)]="selectedCurrency" placeholder="Segmentación" optionLabel="name" [showClear]="true" class="p-inputtext-lg"></p-dropdown>
            <section >
                <div class="migracion">

                    <p-checkbox [(ngModel)]="migrarSap" [binary]="true"></p-checkbox>
                    <label class="check-sap" for="ny">Migrar Información Sap</label>

                    <p-checkbox *ngIf="migrarSap" [(ngModel)]="migrarSap" [binary]="true"></p-checkbox>
                    <label *ngIf="migrarSap" class="check-sap" for="ny">Autorizar Fedex</label>

                </div>
            </section>

            <section *ngIf="migrarSap">
                <span class="p-float-label">
                    <input id="cuentaFedex" type="text" pInputText [(ngModel)]="nroDocumentoIdentidad" [style]="{with: 'auto'}" class="p-inputtext-lg"> 
                    <label for="cuentaFedex">Cuenta FEDEX</label>
                </span>
            </section>

        </div>
 
        
    </div>
</section>
    
</p-dialog>

<section class="contaniner">
    <p-button label="CREAR NUEVO CLIENTE" (click)="showDialog()" icon="pi pi-external-link"></p-button>
</section>