/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: black;
    $primaryColor: black;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}