:root {
    --primary-color: #FF565E;
    --secondary-color: black;
    --third-color: #e2e2e2;
    --text-name-color: #959595;
}

@font-face {
    font-family: 'CarnasW03';
    src: url('assets/fonts/CarnasW03-Regular.woff') format('woff');
}

* {
    font-family: 'CarnasW03';
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
}

hr {
    background-color: #ddd;
    height: 1px;
    border: none;
}

.p-menubar {
    padding: 1.5rem;
    background: #e2e2e2;
    text-align: center;
}

.p-dialog .p-dialog-header .p-dialog-title {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

// Tab View

.tab-primary {
    .p-tabview-nav {
        justify-content: center;
        background: #ffffff !important;
        border-width: 0px !important;
    }

    .p-tabview-nav-container {
        box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        padding: 1.75rem 3.25rem;
    }

    .p-tabview .p-tabview-nav .p-tabview-ink-bar {
        height: 3px;
        background-color: #000000;
    }

    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        color: #000000;
    }

    .p-tabview .p-tabview-panels {
        background: transparent;
    }
}

.tab-secondary {
    .p-tabview-nav {
        justify-content: space-between;
        background: transparent !important;
        border-width: 0px !important;
    }

    .p-tabview .p-tabview-panels {
        background: transparent;
        padding-top: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .p-highlight .p-tabview-nav-link {
        background-color: #000000 !important;
        color: #ffffff !important;
        border: 1px solid !important;
        border-radius: 100px !important;
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        background: transparent;
        border: none;
        padding: 0.75rem 4rem;
    }

    .p-tabview .p-tabview-nav .p-tabview-ink-bar {
        display: none;
    }
}

// Image Icon
.img-icon {
    width: 40%;
    height: auto;
}

// Buttons

.b-primary {
    background-color: var(--primary-color) !important;
    border-radius: 100px;
}

.b-transparent {
    background-color: transparent !important;
    color: #000000 !important;
    border: 1px solid !important;
    border-radius: 100px;
}

.b-secondary {
    background-color: #FF1D531F !important;
    color: #FF1D53 !important;
    border: 1px solid !important;
    border-radius: 100px;
}

// Input Search

.search {
    border-radius: 100px;
    border: none;
    background-color: #1C1B1F1F;
}

// Card

.p-card {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
}

.p-card-body {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.point-active {
    border-radius: 50%;
    background-color: #35A700;
    width: 1rem;
    height: 1rem;
}

.point-inactive {
    border-radius: 50%;
    background-color: #FF1D53;
    width: 1rem;
    height: 1rem;
}

// Checkbox

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #FF1D53 !important;
    background: #FF1D53 !important;
}

.p-paginator {
    background: transparent;
}

// Dialog
.p-confirm-dialog .p-dialog-content {
    display: grid !important;
    justify-items: center !important;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
    font-size: 3rem;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    margin-left: 0rem;
    font-weight: bolder;
    padding-top: 2rem;
}

.p-dialog .p-dialog-footer {
    text-align: center !important;
}

.p-dialog .p-dialog-footer button {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #000000 !important;
    border-radius: 100px;
}

// Badge
.p-badge {
    padding: 0px 0.8rem;
    border-radius: 100px;
    font-weight: normal;
    background: #000000;
    font-style: normal;
    right: 1.7rem !important;
    cursor: pointer;
}

// Toast

.p-toast .p-toast-message.p-toast-message-success {
    background: #007604;
    color: #ffffff;
}

.p-toast .p-toast-message.p-toast-message-error {
    background: #b80000;
    color: #ffffff;
}

.p-toast .p-toast-message {
    border-radius: 1rem;
}

.p-toast .p-toast-message .p-toast-message-content {
    align-items: center;
}

.p-toast-icon-close {
    color: #ffffff !important;
}

.p-toast-message-icon {
    font-size: 1rem !important;
    color: #ffffff !important;
}

// Scrollbar
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 8px;
    border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
    background: #062b60;
    transition-duration: 300ms;
}